.my-border{
    border-bottom: 2px solid red;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.my-list{
    display: inline;
    list-style: none;
}